body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    text-align: center !important;
}

nav ul li {
    display: inline-block;
    margin-bottom: 1% !important;

}

#homeimg {
    height: 300px !important;
    width: auto !important;
}

body {
    scroll-behavior: smooth;
  }

  header {
    background-color: #A6A6A6 !important;
    color: #000000;
    padding: 1% 1% 1% 1% !important;
  }

  section {
    padding: 5% 10% 5% 10% !important;
  }

  footer {
    background-color: #A6A6A6;
    padding: 1% 1% 1% 1% !important;
  }

  .whitelink {
    color: #000000;
  }

  .attive {
    color: #A6A6A6 !important;
    background-color: #000000;
    border-radius: 0px 0px 8px 8px !important;
  }

  .nounderline {
    text-decoration: none !important;
    padding: 4em 1em 5% !important;
  }

  .iconesocial {
    padding: 1% 1% 4% 1% !important;
    color: #000000;
  }

  #consigliimg {
    height: 400px !important;
    width: auto !important;
    margin: 20%;
}

#mitiimg {
  height: 400px !important;
  width: auto !important;
  margin: 20%;
}

.carousel-inner {
  height: 500px !important;
  width: auto !important;
  margin: 8% 5%;
}

.iconesocial:hover {
  color: #ffff;
  text-decoration: none;
}

.grosso:hover {
 color: #ffff;
}

#grandezza1 {
 width:320px;
 height:500px;
 margin: 5% 0% 0% 0%;
}

#grandezza2 {
  width:320px;
  height:500px;
 }