body {
    padding: 0px !important;
    margin: 0px !important;
    font-family: 'Encode Sans Condensed', sans-serif !important;
    text-align: center !important;
    background-color: #E4E4E4;
}

nav ul li {
    display: inline-block;
    margin-bottom: 2px !important;
    margin-top: 0% !important;

}

#homeimg {
    height: 300px !important;
    width: auto !important;
}

body {
    scroll-behavior: smooth;
  }

  header {
    background-color: #A6A6A6 !important;
    color: #000000;
    padding: 1% 1% 1% 1% !important;
  }

  section {
    padding: 5% 10% 5% 10%;
  }

  footer {
    background-color: #A6A6A6;
    padding: 0% 1% 1% 1% !important;
  }

  .whitelink {
    color: #000000;
  }

  .attive {
    color: #A6A6A6 !important;
    background-color: #000000;
    border-radius: 8px 8px 8px 8px !important;
  }

  .nounderline {
    text-decoration: none !important;
    padding: 3% 2em 3% !important;
  }

  .iconesocial {
    padding: 1% 1% 4% 1% !important;
    color: #000000;
  }

  #consigliimg {
    height: 400px !important;
    width: auto !important;
    margin: 20%;
}

#mitiimg {
  height: 400px !important;
  width: auto !important;
  margin: 20%;
}

.carousel-inner {
  height: 500px !important;
  width: auto !important;
  margin: 8% 5%;
}

.iconesocial:hover {
  color: #E4E4E4;
  text-decoration: none;
}

.grosso:hover {
 color: #E4E4E4;
}

#grandezza1 {
 width:320px;
 height:500px;
 margin: 5% 0% 0% 0%;
}

#grandezza2 {
  width:320px;
  height:500px;
 }

 .nounderline2 {
  text-decoration: none;
  font-style: italic;
 }

 p {
  color: #000000;
 }

h5 {
  color: #000000;
}

h3 {
  color: #000000;
}

h4 {
  color: #000000;
}

h4 {
  color: #000000;
}

 .grosso2:hover {
  color: #000000;
  text-decoration: underline;
 }
 
 .grosso3:hover {
  color: #000000;
  text-decoration: underline;
 }
 


.card-title {
  color: #000000;
}

#page-container {
  position: relative;
  min-height: 10vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.nounderline3 {
  text-decoration: none !important;
  padding: 5% 14% 5% !important;
}

.navbar {
  margin: -1% 33% 0%;
}

.card {
  border-radius: 0px 0px 30px 30px;
  background-color: #A6A6A6;
}

.nounderline4 {
  text-decoration: none;
 }


 .carousel > .carousel-inner > .carousel-item > img{
  width:1000px;
  height:600px;
}


#grandezza3 {
  width:650px;
  height:400px;
  padding: 0%;
  margin: 3%;
 }

 .linea {
  display: inline-block;
  margin: 3%;
 }

.biancoz {
  background-color: #f1f1f1;
}

.column {
  float: left;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}
